[Unit]
Description=tg-bot
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
Restart=always
ExecStart=python3 /home/pipeline/city/main.py

[Install]
WantedBy=multi-user.target